body{
    font-family: Helvetica;
    text-align: center;
    
}

h1{
    color:rgb(195, 85, 57);
    font-size: 48px;
    padding-bottom: 0;
}

h2{
    padding-top: 25px;
    color:rgb(195, 85, 57);
    font-size: 35px;
    padding-left: 18px;
    
}

.bio {
    padding:0;
}

.total{
    position:relative;
    bottom:10px;
}

.topTen{
    position: relative;
        bottom: 25px;
}

ol{  
    text-align: left;   
    display: inline-block;
    padding-left: 10%;
    padding-bottom: 0;
    position: relative; 
        bottom: 20px;
        left:10px; 
}

img {
    display: block;
    margin: 0 auto;
    padding: 0;
}
.link{
color:rgb(195, 85, 57);
text-decoration: none;
}

.album{
color: rgb(195, 85, 57);   
text-decoration: none;

}

.contact{
    position:relative;
    bottom:10px;
}




